*{
    /*background 속성이 적용할 범위를 설정한다.
    /*본래 html 요소의 영역은 margin > border > padding > content 순서로 진행되며  
    background-clip 속성을 설정함에 따라 background 속성이 적용되는 범위가 변화
    /* Keyword values */
background-clip: border-box;
background-clip: padding-box;
background-clip: content-box;
background-clip: text;

/* Global values */
background-clip: inherit;
background-clip: initial;
background-clip: revert;
background-clip: revert-layer;
background-clip: unset;

}