* { 
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    box-sizing: border-box;
}
#all_time, #calender{
    padding: 20px;
}
#all_time{
    width: 400px;
    margin: 0 auto;
    background: rgb(38, 36, 45);
    border-bottom: 3px solid rgb(165, 28, 28);
}
#time, #today{
    text-align: left;;
}
#time{
    margin: 0 auto;
    font-size: 50px;
}
#today{
    margin: 0 auto;
    color: cadetblue;
}
#calender{
    width: 400px;
    height: 330px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 0 auto;
    background: rgb(38, 36, 45);
}
.dayofweek, .date{
    margin: 1px;
}
.dayofweek{
    display: inline-block;
    color: white;
}
.dayofweek .text{
    font-size: 15px;
}
.date{
    display: inline-block;
    color: white;
    border: 3px solid rgb(38, 36, 45);
}
.today{
    background-color: rgb(16, 16, 86);
    border: 3px solid rgb(16, 16, 86);
}
.today .text{
    border : 2px solid white;
}
.other .text{
    font-weight: lighter;
    color: rgb(88, 82, 82);
}
.text{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 2px;

}

