body{
  margin: 0;
  overflow: hidden;
}



#document_head{
  width: 100vw; /*view point : 현재 열려있는 페이지 크기의 몇퍼센트인가*/
  height: 7vh;
  background-color: rgb(202, 154, 154);
  display: flex;
  flex-direction: row;
  align-items: center;
}
#head_main, #head_search, #head_account{
  padding: 0;
  margin: 0;
  border: 0;
}
#head_main{
  display: flex;
  justify-content:flex-start;
  margin-left: 20px;
}
#head_main>h1{
  margin: auto;
}
#head_search{
  width: 600px;
  height: 28px;
  margin: auto;
}
#head_search>form{
  display: flex;
  flex-direction: row;
}
#search{
  width: 600px;
  height: 28px;
}
#head_account{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
#document_body{
  display: flex; /*본인을 flex -> 자식 태그를 옆으로 나열한다.*/
  /* width: 100vw;
  height: 80vh; */
}

#scroll_sidebar{
  background-color: rgb(160, 160, 218);
  width: 10%;
  height: 93vh;
  overflow: auto; /*정해진 영역을 넘어가면 스크롤바 생성, 아니면 없음*/
  text-align: center;
}
/*스크롤바 webkit은 webkit 브라우저에만 작동 (Chrome, Edge, Opera, Safari, iOS 브라우저)*/
#scroll_sidebar::-webkit-scrollbar{ /*스크롤바 전체*/
  width: 4px;
}
#scroll_sidebar::-webkit-scrollbar-thumb{ /*스크롤바만*/
  background: rgb(119, 116, 116);
  border-radius: 25px;
}
#scroll_sidebar::-webkit-scrollbar-track{ /*스크롤바 배경*/
  background-color: rgba(0,0,0,0);
}

#youtube_sidebar, #user_sidebar, #subscribe_sidebar, #youtube_setting{
  margin: 3px 1px 3px 1px; /*margin : top right bottom left*/
}
#youtube_sidebar p{
  font-size: 20px;
}
#user_sidebar, #subscribe_sidebar, #youtube_setting{
  border-top: 1px solid rgb(29, 27, 27); /*border-(left/right/top/bottom/style): width,style,color*/
}

#scroll_main{
  background-color: rgb(158, 206, 158);
  padding : 100px 0px 0px 250px;
  height: 100vh;
  width: 100%;
  overflow : auto; 
}
/*스크롤바 webkit은 webkit 브라우저에만 작동 (Chrome, Edge, Opera, Safari, iOS 브라우저)*/
#scroll_main::-webkit-scrollbar{ /*스크롤바 전체*/
  width: 10px;
}
#scroll_main::-webkit-scrollbar-thumb{ /*스크롤바만*/
  height: 10%;
  background: rgb(119, 116, 116);
  border-radius: 45px;
}
#scroll_main::-webkit-scrollbar-track{ /*스크롤바 배경*/
  background-color: rgba(0,0,0,0);
}
.video_group{
  margin-bottom: 10px;
  padding: 0 0 10px 0;
  width: 100%;
  height: auto;
  border-bottom: 1px solid gray;
  display: grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows: minmax(100px,auto);
  gap: 30px 30px;
}
.video{
  background-color: rgb(60, 78, 78);
  width: 350px;
  height: 250px;
  border-radius: 15px;
}

