/* styles.css */
*{
    text-transform: capitalize !important;
}
body {
    box-sizing: border-box;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    align-items: stretch;
    gap: 10px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 3px solid transparent;
    color: white;
}
.box-seleted{
    border: 3px solid red;
}
.box-active-unselected {
    background-origin: border-box;
}
.box:hover {
  border: 3px solid rgba(255, 255, 255, 0.4);
}
.box-active:hover {
  border: 3px solid hsl(0, 90%, 75%);
}
.box-selected:hover {
  border: 3px solid hsl(0, 70%, 50%) !important;
}
button:focus {
    outline: none;
}
